<div class="flex w-100">
    <div class="container w-100 pt-5 text">
        <p align="justify">Hoje e o dia que eu espero do fundo do meu coracao me redimir com voce.
            Eu acredito que voce saiba que eu nunca quis te chatear de maneira alguma, mas mesmo assim peco desculpas e
            espero que esse seja um presente bem especial pra voce, do jeito que merece.
        </p>

        <p align="justify">Sempre gosto de lembrar voce o tanto que eu te amo.
            Pensei em algumas maneiras de te convidar para esse momento, mas parece que dando uma cara bem nossa, com um
            clima
            bem descontraido e gostoso (bem como tem sido esses ultimos 8 anos), ia fica perfeito.
        </p>
        
        <p align="justify">
            Aqui, eu quero te fazer um convite, esse convite eh muito especial, e dessa vez, espero realmente acertar e
            que voce goste.
        </p>

        <div class="d-flex flex-row-reverse mb-3">
            <button class="btn btn btn-outline-info" routerLink="/invite">ir para o convite</button>
        </div>
    </div>
</div>