<div class="flex w-100">
    <div class="container w-100 pt-5 text">
        <p align="justify">Sempre gosto de lembrar a você o quanto eu te amo.
            Pensei em algumas maneiras de te convidar para este momento, mas parece que dando uma cara bem nossa, com um
            clima bem descontraído e gostoso (bem como tem sido estes últimos 8 anos), ia ficar perfeito.
        </p>
        
        <p align="justify">
            Aqui, eu quero te fazer um convite. Este convite é muito especial e desta vez, espero realmente acertar e
            que você goste.
        </p> 

        <div class="d-flex flex-row-reverse mb-3">
            <button class="btn btn btn-outline-info" routerLink="/invite">ir para o convite</button>
        </div>
    </div>
</div>