<div class="flex w-100">
    <div class="container w-100 pt-5 text">
        <p align="justify">A data é a sua escolha. A sugestão do chefe é de setembro a março, mas eu sugiro do dia 05/09
            ao dia 11/09.</p>

        <h5>Instruções para a viagem:</h5>
        <p>1 - Após a confirmação, em poucos minutos, você receberá em seu e-mail uma mensagem com a data e horário
            para você tirar seu passaporte.</p>
        <p>2 - Você tem 5 dias para confirmar a data da viagem.</p>

        <div class = "bl"></div>
        <p>Obrigado por ser tão paciente e estar sempre comigo.</p>

        <p>Espero poder te compensar.</p>

        <p>Te amo.</p>

        <p>Ass: Leonardo</p>
    </div>
</div>